@import 'reset.css';
@import 'sidebar.css';
@import 'menu.css';

body{
    font-family: 'Roboto', 'Source Sans Pro' , sans-serif;
    position: relative;
    width: calc(100vw - 15px);
    height: 100%;
    background: #FFFFFF;
}
.main{
    position: absolute;
    right: 30px;
    height: 931px;
    left: 367px;
    top: 20px;
    background: #EDEDED;
    border-radius: 50px;
}

.main svg{
    position: absolute;
    right: 0;
}

.main h3{
    margin-top: 87px;
    margin-left: 50px;
}

.contacts__form{
    /*width: 50%;*/
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height, or 133% */

    /* Grey */
    color: #B9B9B9;
}

.contacts__form__input button{
    width: 10px
}

.contacts__form__input{
    display: block;
    background: #EDEDED;
}

.contacts__form__input{
    border: none;
    border-bottom: 1px solid #B9B9B9;
    margin-bottom: 65.5px;
}

.contacts__form__input:hover, .contacts__form__input:focus{
    border-bottom: 2px solid #FF3C5A
}
keyframes rem{}




